useDynLib(rbamtools)
# Used from graphics:
# arrows layout lcm legend lines mtext par plot polygon rect text
import(methods,graphics)
importFrom(utils,head)
importFrom(utils,tail)
importFrom(utils,write.table)
S3method(as.data.frame, bamGapList)
S3method(as.data.frame, bamRange)
S3method(as.data.frame, gapList)
S3method(as.data.frame, gapSiteList)
S3method(as.data.frame, rangeSegCount)
S3method(as.data.frame, refSeqDict)
S3method(merge, bamGapList)
S3method(merge, gapSiteList)
S3method(summary, bamGapList)
export(
        as.data.frame.bamRange,
        as.data.frame.gapList,
        as.data.frame.gapSiteList,
	as.data.frame.bamGapList,
	as.data.frame.rangeSegCount,
        as.data.frame.refSeqDict,
        bamAlign,
	bamHeaderText,
	bamReader,
	bamRange,
        countTextLines,
        create.idx.batch,
	createIdxBatch,
	extractBamRegions,
        merge.gapSiteList,
        merge.bamGapList,
        readPooledBamGaps,
	readPooledBamGapDf,
	summary.bamGapList
)
exportMethods(
	addSeq,
        addReadGroup,
        alignDepth,
	alignQual,
	alignQualVal,
	alignSeq,
	as.list,
	bamClose,
        bamCopy,
        bamCount,
	bamCountAll,
	bamHeader,
	bamSave,
	bamGapList,
	bamSort,
	bamWriter,
	checkPartition,
	cigarData,
        countNucs,
	countPartition,
	create.index,
	createIndex,
	dim,
        extractRanges,
	failedQC,
	"failedQC<-",
	filename,
	firstInPair,
	"firstInPair<-",
	flag,
	"flag<-",
	gapList,
	genomePartition,
	getAlignCounts,
        getAlignRange,
        getCoords,
        getDepth,
	getFileTable,
	getGridAlignCounts,
	getHeader,
	getHeaderText,
	getNextAlign,
        getQualDf,
        getQualQuantiles,
        getParams,
        getPos,
	getPrevAlign,
        getRefCoords,
	getRefCount,
	getRefData,
        getRefName,
        getSeqLen,
	getSeqNr,
	getVal,
	head,
	headerLine,
	"headerLine<-",
	headerProgram,
	"headerProgram<-",
	headerReadGroup,
	"headerReadGroup<-",
	index.initialized,
	indexInitialized,
	insertPastCurrent,
	insertPreCurrent,
	insertSize,
	isOpen,
	load.index,
	loadIndex,
	mapQuality,
	matePosition,
	mateRefID,
	mateReverseStrand,
	"mateReverseStrand<-",
	mateUnmapped,
	"mateUnmapped<-",
	moveCurrentAlign,
	name,
        nAligns,
	nCigar,
        nAlignGaps,
        nucStats,
	paired,
	"paired<-",
	pcrORopt_duplicate,
	"pcrORopt_duplicate<-",
        plotAlignDepth,
        plotQualQuant,
	pop_back,
	pop_front,
	position,
	properPair,
	"properPair<-",
	push_back,
	push_front,
        range2fastq,
	rangeToFastq,
	rangeSegCount,
        reader2fastq,
	readerToFastq,
	refID,
	refSeqDict,
	"refSeqDict<-",
	removeSeqs,
	reverseStrand,
	"reverseStrand<-",
        rewind,
	secondaryAlign,
	"secondaryAlign<-",
	secondInPair,
	"secondInPair<-",
	setVal,
        siteList,
	size,
	stepNextAlign,
	stepPrevAlign,
        suppAlign,
	"suppAlign<-",
	tail,
	unmapped,
	"unmapped<-",
	writeCurrentAlign
)
exportClasses(
        alignDepth,
	bamAlign,
	bamHeader,
	bamHeaderText,
	bamRange,
	bamReader,
	bamWriter,
	bamGapList,
	gapList,
        gapSiteList,
	GenomePartition,
	headerLine,
	headerProgram,
	headerReadGroup,
	rangeSegCount,
	refSeqDict
)
		
