useDynLib(rbamtools)
exportPattern("^bam.*")
importFrom(utils,head)
importFrom(utils,tail)
exportMethods(
	addSeq,
	as.data.frame,
	as.list,
	bamClose,
	bamHeader,
	bamSave,
	bamSort,
	bamWriter,
	cigarData,
	createIndex,
	dim,
	failedQC,
	"failedQC<-",
	filename,
	firstInPair,
	"firstInPair<-",
	flag,
	"flag<-",
	gapList,
	getHeader,
	getHeaderText,
	getNextAlign,
	getPrevAlign,
	getRefCount,
	getRefData,
	getVal,
	head,
	headerLine,
	"headerLine<-",
	headerProgram,
	"headerProgram<-",
	headerReadGroup,
	"headerReadGroup<-",
	index.initialized,
	insertPastCurrent,
	insertPreCurrent,
	insertSize,
	isOpen,
	loadIndex,
	mapQuality,
	matePosition,
	mateRefID,
	mateReverseStrand,
	"mateReverseStrand<-",
	mateUnmapped,
	"mateUnmapped<-",
	moveCurrentAlign,
	name,
	nCigar,
	paired,
	"paired<-",
	pcrORopt_duplicate,
	"pcrORopt_duplicate<-",
	pop_back,
	pop_front,
	position,
	properPair,
	"properPair<-",
	push_back,
	push_front,
	qualities,
	refID,
	refSeqDict,
	"refSeqDict<-",
	removeSeqs,
	reverseStrand,
	"reverseStrand<-",
	secondaryAlign,
	"secondaryAlign<-",
	secondInPair,
	"secondInPair<-",
	sequence,
	setVal,
	size,
	stepNextAlign,
	stepPrevAlign,
	tail,
	unmapped,
	"unmapped<-",
	windBack,
	writeCurrentAlign
)
exportClasses(
	bamAlign,
	bamHeader,
	bamHeaderText,
	bamRange,
	bamReader,
	bamWriter,
	gapList,
	headerLine,
	headerProgram,
	headerReadGroup,
	refSeqDict
)
		
